<html>
<head>
    <title>Django Page</title>
</head>
<body>
<h1>发布会管理</h1>
<form method="post" action="/login_action/">
    <br>用户登陆<br>
    用户名：<input type="text" name="username" placeholder="username">
    <br>密码： <input type="password" name="password" placeholder="password"><br>
    {{ error}}<br>
    <input type="submit" value="登陆">
    <input type="reset" value="重置">
    {% csrf_token %}
</form>
</body>
</html>
